/* ---------------------------------------------------------------------------------------------------

-----Info

© 2013 Nicole Aitchison
Full Sail ASL 1311

-----Color Swatch

Black: #000
White: #fff
Grey: #e1e1e1

-----Sections

∆ General
∆ Header
∆ Forms
∆ Other
∆ Footer
∆ Fixes

----------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------------
        ∆ General
---------------------------------------------------------------------------------------------------*/

html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
    margin: 0;
    padding: 0;
}

body{
    font: 12px Helvetica, sans-serif;
}

h2{
    font: 24px 'Dosis', sans-serif;
    padding: 0 0 20px;
    margin: 0 10px;
}

h3{
    font: 20px 'Dosis', sans-serif;
    padding: 10px 0;
    font-weight: normal;
    color: #5B01E1;
}

h4{
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

li{
    float: left;
}

fieldset{
    border: none;
}

label{
    width: 80px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
}

input, textarea, select{
    border-radius: 2px;
    border: none;
    padding: 5px;
    background-color: #e8e8e8;
    border: 1px solid #d1d1d1;
}

textarea{
    font: 12px Helvetica, sans-serif;
}

input[type=submit], button{
    border-radius: 2px;
    padding: 5px 8px;
    background-color: #e1e1e1;
    border: 1px solid #5B01E1;
    color: #5B01E1;
}

input[type=submit]:hover, button:hover{
    background-color: #bbb;
}

select{
    -webkit-appearance: none;
    padding-left: 12px;
}

section{
    margin: 20px 0;
}

.container{
    padding-top: 12px;
    width: 720px;
    float: left;
}

/* ---------------------------------------------------------------------------------------------------
        ∆ Header
---------------------------------------------------------------------------------------------------*/

header{
    background: #e1e1e1;
    padding: 12px 0;
    margin-bottom: 55px;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav a{
    font-size: 14px;
    color: #333;
}

.nav_pipe{
    padding: 0 15px;
}


/* ---------------------------------------------------------------------------------------------------
        ∆ Aside
---------------------------------------------------------------------------------------------------*/

#logo{
    width: 98px;
    height: 180px;
}

#info ul{
    margin-top: 30px;
}

#info ul li{
    clear: both;
    background: #e1e1e1;
    padding: 6px 10px; 
    margin-bottom: 6px;
}

/* ---------------------------------------------------------------------------------------------------
        ∆ Forms
---------------------------------------------------------------------------------------------------*/

.form_input{
    margin-bottom: 10px;
}

.form_button{
    float: right;
}

#delete{
    margin-right: 8px;
    border: 1px solid #333;
    color: #333;
}

#title, #website, #github{
    width: 250px;
}

#description{
    margin-left: 92px;
    margin-top: -18px;
    margin-bottom: 10px;
    max-width: 624px;
    min-height: 60px;
    min-width: 624px;
}

input:invalid, textarea:invalid {
    outline: none;
    box-shadow: #fff 0 0 0 0;
}

.error{
    padding-left: 10px; 
    color: #5B01E1;
}

.description_err{
    clear: both;
    margin-left: 92px;
}

/* ---------------------------------------------------------------------------------------------------
        ∆ Other
---------------------------------------------------------------------------------------------------*/


.edit_link{
    color: #5B01E1;
    font: 15px Helvetica, sans-serif;
    padding-left: 8px;
}

.imgpreview{
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
}

.imgpreview:hover{
    opacity: .6;
}

.divider{
    height: 1px;
    width: 100%;
    margin-top: 15px;
    background-color: #e1e1e1;
}

.img_info{
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
}

#admin_nav{
    float: right;
    margin-right: 8px;
    margin-top: -50px;
    padding: 0 0 62px;
    width: 268px;
}

#admin_nav a{
    color: #5B01E1;
}

#project_links{
    margin: 15px 10px;
}

#edit_links{
    margin: 0 0 20px;
}

#project_header h2{
    padding: 0 0 20px;
}

/* ---------------------------------------------------------------------------------------------------
        ∆ Footer
---------------------------------------------------------------------------------------------------*/





/* ---------------------------------------------------------------------------------------------------
        ∆ Fixes
---------------------------------------------------------------------------------------------------*/

img { width: 100%; }
a img { border: 0; }

.clear_fix { clear: both; }


