<ul id="admin_nav" ng-show="loggedIn">
  <li> <a ng-href="#/">View All Projects</a> </li>
  <li class="nav_pipe"> / </li>
  <li> <a ng-href="#/projects/new">Add a Project</a> </li>
  <li class="nav_pipe"> / </li>
  <li > <a  ng-href="#/logout">Logout</a> </li>
  <div class="clear_fix"></div>
</ul> 

<div class="clear_fix"></div>

<article ng-repeat="project in projects" class="four columns">
	<a ng-href="#/projects/{{project.id}}">
		<img ng-src="images/{{project.imgfolder}}/preview.png" class="imgpreview" alt="{{project.title}}" title="{{project.title}}" />
	</a>
	<!-- 
		<a ng-href="#/projects/{{project.id}}/show"><h3>{{project.title}}</h3></a>
		<span ng-bind="project.createdAt | date:'short'"></span>
		<a ng-href="{{project.website}}">website</a>
		<a ng-href="{{project.github}}">git repo</a> 
	-->
</article>