<ul id="admin_nav" ng-show="loggedIn">
  <li> <a ng-href="#/">View All Projects</a> </li>
  <li class="nav_pipe"> / </li>
  <li> <a ng-href="#/projects/new">Add a Project</a> </li>
  <li class="nav_pipe"> / </li>
  <li > <a  ng-href="#/logout">Logout</a> </li>
 <div class="clear_fix"></div>
</ul> 

<h2> Edit Project </h2>
<form class="twelve columns" name="myForm" ng-submit="submit()">
	<div class="form_input">
		<label> Title </label>
		<input type="text" name="title" id="title" ng-model="project.title" required>
		<span class="error" ng-show="myForm.title.$error.required">Required!</span>
	</div>
	<div class="form_input">
		<label> Live Website </label>
		<input type="url" id="website" ng-model="project.website">
	</div>
	<div class="form_input">
		<label> Git Repo </label>
		<input type="url" id="github" ng-model="project.github">
	</div>
	<div class="form_input">
		<label> Image Folder </label>
		<input type="text" name="imgfolder" id="imgfolder" ng-model="project.imgfolder" required/>
		<span class="error" ng-show="myForm.imgfolder.$error.required">Required!</span>
	</div>
	<div class="form_input">
		<label> Description </label>
		<textarea ng-model="project.description" name="description" id="description" required> {{project.description}} </textarea>
		<span class="description_err error" ng-show="myForm.description.$error.required">^ Required!</span>
	</div>
	<div class="form_button">
		<button ng-click="destroy()" id="delete"> Delete Project</button>
		<input type="submit" id="submit" value="Save Project" />
	</div>
	<div class="clear_fix"></div>
</form>
