<ul id="admin_nav" ng-show="loggedIn">
  <li> <a ng-href="#/">View All Projects</a> </li>
  <li class="nav_pipe"> / </li>
  <li> <a ng-href="#/projects/new">Add a Project</a> </li>
  <li class="nav_pipe"> / </li>
  <li > <a  ng-href="#/logout">Logout</a> </li>
 <div class="clear_fix"></div>
</ul> 
<h2>
	{{project.title}} 
	<div ng-show="loggedIn" >
	<span class="edit_link">
		<a  ng-href="#/projects/{{project.id}}/edit/info" class="edit_link">Edit Info</a> 
	</span>
	<span class="edit_link">
		<a ng-href="#/projects/{{project.id}}/edit/images" class="edit_link">Edit Images</a> 
	</span>
	</div>
	
</h2>
<div>
	<div ng-repeat="img in images" class="four columns">
		<a href="images/{{project.imgfolder}}/{{img.name}}"><img ng-src="images/{{project.imgfolder}}/{{img.name}}" class="imgpreview" /></a>
	</div>
	<div class="clear_fix"></div>
	<div class="twelve columns" id="project_links">
		<p> Check out the:
		<span ng-show="websiteExists()"><a ng-href="{{project.website}}">website</a></span>  
		<span ng-show="githubExists()">or the <a ng-href="{{project.github}}">github repo</a></span>
		<p>
	</div>
	<p class="twelve columns"> {{project.description}} </p>
</div>